.div-option-payment {
  border: 0.5px solid #888888;
  border-radius: 5px;
  margin-top: 16px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: black;
  font-size: 12px;
  margin-bottom: 5px;
}

form input { 
  border-radius: 5px;
  border: 0.5px solid #888888;

  width: 330px;
  height: 30px;
  margin-bottom: 16px;
  
  padding: 5px;
}

select {
  border-radius: 5px;
  border: 0.5px solid #888888;

  width: 326px;
  height: 36px;
  margin-bottom: 16px;
  
  padding: 5px;
}

.resumo-compra {
  display: flex;
  flex-direction: column;

  border: 0.5px solid #888888;
  border-radius: 5px;
  
  padding-bottom: 10px;

  margin-top: 16px;
  margin-bottom: 60px;
}

.resumo-compra h3 {
  border-bottom: 0.5px solid #888888;
  
  padding-bottom: 10px;
  padding-left: 5px;
}

.resumo-compra p {
  margin: 0;
}

.resumo-compra-itens {
  display: flex;
  flex-direction: row;
  padding-left: 3px;
  padding-right: 10px;
}
.resumo-compra-textos {
  display: flex;
  flex-direction: column;

  width: 190px;
  padding-left: 5px;
}

.price {
  margin: auto 0 ;
}