.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.card {
  width: 140px;
  height: 290px;
  border: 1px solid #ccc;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.link{
  text-decoration: none;
}

.card-title {
  font-size: 12px;
  font-weight: bold;
  color: black;

  margin-top: 5px;
  margin-bottom: 5px;
}

.card-description {
  font-size: 10px;
  font-weight: lighter;
  color: #525252;
  margin-top: 0;
  margin-bottom: 15px;
}

.card-price {
  font-size: 12px;
  color: black;
}

.card-informations {
  margin: 0;
}
