body {
  margin: 0;
  background-color: #eeeeee;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 12px;
  color: #525252;
}

section {
  display: flex;
  flex-direction: row;
}

main {
  margin-left: 9px;
  margin-right: 9px;

  min-height: 100vh;
}


